process { withName: 'CNVKIT_BATCH' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3c/3c127bbeb62b853e044adee5da1f788ab84bc07c2809843ffdd9154ce74b8d2a/data' } }
process { withName: 'MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/c8/c8e346f4f6080eadf1253505e6ff09ef004454fc18e8d672006fd7b222cc412e/data' } }
