process {

    withName: 'GATK4_CREATEREADCOUNTPANELOFNORMALS' {
        ext.args = "--minimum-interval-median-percentile 10 --number-of-eigensamples 2"
    }

}


profiles {
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        docker.runOptions      = '-u root'
    }
}
